.containerProducts {
  height: 55vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.containerCards {
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.boxCantidadAComprar{
  min-width: 10%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4vh;
  right: 1vh;
  border: solid rgb(54, 54, 214) 1px ;
  padding: 10px;
  border-radius: 8px;
  background: wheat;
  color: blue;
}