:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

#adsBar {
  background: #23323b;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#adsBar > * {
  color: #cacaca;
  font-size: 0.75rem;
  margin: 1.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background: #5a5a5a;
  display: flex;
  justify-content: space-between;
  height: 12vh;
  align-items: center;
  padding: 0 5%;
  border-bottom: solid 1px #233e70;
  width: 100%;
  top: 0;
}
header > div {
  display: flex;
  width: 45%;
}
header > div > span,
header > div input,
header > div img {
  margin-right: 3%;
}
header > div:last-child {
  justify-content: flex-end;
}

* {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
